<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eCard Exchanger server</title>
</head>
<body>
    <center>Add/Edit Comapany</center>
    <br>
    <br><a href="/home">HOME</a><br></p>
    <br>
    <form action="/company" method="POST">
        <select name="ComapnyEdit" id="ComapnyEdit">
            {TheList}
        </select><Br>

        <label for="companyid">ID:</label><br><input type="text" id="companyid" name="companyid"><br>
        <label for="companyname">Full Name:</label><br><input type="text" id="companyname" name="companyname" required><br>
        <label for="websitelink">Home Page:</label><br><input type="text" id="websitelink" name="websitelink"><br>
        <label for="representiviteid">Representivite Employee ID:</label><br>
        <input type="text" id="representiviteid" name="representiviteid" required><br>
        <br>
        <button type="submit" name="newC" id="butNewC">new</button>  |
        <button type="submit" name="editC" id="butEditC">update</button><br>
    </form>

</body>
</html>