<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
        <br>
        <br>
        <br>
        <br>
        <form action="/emailVerfication" method="POST">
            <label for="VerCode"> Please, Enter the Verifcation Code here:</label><br>
            <input type="text" id="VerCode" name="VerCode" required><br>
            <button type="submit">submit</button><br>
        </form>
            <br>
            <br>
            <br>
            <a href="/">HOME</a> <br>
    </center>

</body>
</html>