<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<form action="/Register" method="POST">
    Please provide the fallowing information: <br>
    <br>
    <a href="/">HOME</a>
    <br>
    <br>
    <br>

    <label for="email">email:</label><br><input type="text" id="email" name="email" required><br>
    <label for="Reenter">Reenter:</label><br><input type="text" id="Reenter" name="Reenter" required><br>
    <br>
    <label for="UserName"> UserName:</label><br><input type="text" id="UserName" name="UserName" required><br>
    <label for="Passowrd"> Passowrd:</label><br><input type="password" id="Passowrd" name="Passowrd" required><br>
    <label for="pReenter"> Re-enter:</label><br><input type="password" id="pReenter" name="pReenter" required><br>
    <br>
    <label for="FirstName"> First Name:</label><br><input type="text" id="FirstName" name="FirstName" required><br>
    <label for="MiddleName"> Middle Name:</label><br><input type="text" id="MiddleName" name="MiddleName"><br>
    <label for="GrandName"> Grand Father Name:</label><br><input type="text" id="GrandName" name="GrandFatherName"><br>
    <label for="FamilyName"> Family Name:</label><br><input type="text" id="FamilyName" name="FamilyName" required><br>
    <br>
    <label for="Nickname"> Nickname:</label><br><input type="text" id="Nickname" name="Nickname"><br>
    <label for="AbuName"> Abu Name:</label><br><input type="text" id="AbuName" name="AbuName"><br>
    <br>
    <label for="Mobile"> Mobile Number:</label><br><input type="text" id="Mobile" name="MobileNumber"><br>
    <label for="Phone"> Phone Number:</label><br><input type="text" id="Phone" name="PhoneNumber"><br>
    <label for="Home"> Home Phone:</label><br><input type="text" id="Home" name="HomePhone"><br>
    <label for="Work"> Work phone:</label><br><input type="text" id="Work" name="Workphone"><br>
    <br>
    <label for="notes"> notes:</label><br><input type="text" id="notes" name="notes"><br>
    <br>
    <button type="submit">submit</button><br>
</form>
    <br><a href="/home">HOME</a><br></p>

</body>
</html>