{% extends "base.html"%}
{% block theContent %}

    <div class="main">
        <center>Welcome to the BEEC exchange server</center>
        <br>
        <br>
        <center>
        <a href="/login">Login to the system</a> <br>
        <a href="/Register">No Account? Click here to register</a>
        <a href="/home">HOME</a>

            <p></p><a href="/emailVerfication">Email Verfication</a><br>
            </p>

            <p></p><a href="/forget">Forget your Password</a><br>
            </p>

        </center>
    </div>

{% endblock %}
